<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&family=Rubik:ital,wght@0,500;1,300&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="styles.css">

<body style="font-family: 'IBM Plex Mono', monospace;">
    <div class="container-xxl px-md-5 bg-white shadow-lg">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/profile" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <h3 class="display-5 text-primary">Whiffler <img src="https://i.imgur.com/7UHoXUK.png" class="w-25"
                        alt="">
                </h3>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/logout" class="nav-link px-2 link-secondary">Logout</a></li>
                <li><a href="/about" class="nav-link px-2 link-secondary">About</a></li>
                <li><a href="/contact" class="nav-link px-2 link-secondary">Contact</a></li>
                <li><a href="/quiz" class="nav-link px-2 link-secondary">Create a Whiffler</a></li>
            </ul>
        </header>


        <div class="container-fluid gedf-wrapper">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class=""><img class="rounded-circle" width="80" height="80" src="<%=user.thumbnail%> "
                                    alt="">
                            </div>
                            <div class="h5"><%=user.username%>'s Stats </div>

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="h6 text-muted">Ranking</div>
                                <div class="h5">5.2342</div>
                            </li>
                            <li class="list-group-item">
                                <div class="h6 text-muted">Score</div>
                                <div class="h5">6758</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 gedf-main">
                    <!--- \\\\\\\Post-->
                    <% quizzes.forEach(function(quiz,index){ %>
                    <% if(quiz.quizCreator != user.username) {%>
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h6 m-0"><%-quiz.quizCreator%>'s Quiz </div>

                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <a class="card-link" href="#">
                                <h5 class="card-title text-center h2 border-bottom"><%-quiz.chosenWord  %> </h5>
                            </a>

                            <p class="card-text">
                                <p class="h5 text-center">Choose the Correct Definition</p>
                                <form action="/quiz/<%=quiz._id%>?_method=PUT" method="POST">
                                    <% quiz.wrongDefs.forEach(function(def, index){%>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault1" value="<%-def%>" required>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            <%-def %>
                                        </label>
                                    </div>
                                    <%  })  %>
                                    <div class="button-wrapper text-center">
                                        <button class="btn btn-lg btn-primary mt-2">Submit</button>
                                    </div>
                                </form>
                            </p>
                        </div>
                    </div>
                    <br>
                    <% } %>
                    <%  }) %>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            Leaderboard
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center"><a href="/profile"><button class="btn btn-success btn-sm m-3">Refresh For
                    More
                    Quizzes</button></a></div>
    </div>

    <footer class="py-5 text-center">
        <p>&copy 2022 Whiffler</p>
    </footer>
    <script src="script.js"></script>
</body>

</html>